<start-page [contentControl]="content"></start-page>

<ng-template #content>
  <div class="flex-full-center">

    <form [formGroup]="signInForm"
          novalidate
          (submit)="onSubmit()">
      <label class="comfortaa-font"
             style="margin-bottom: 78px; font-size: 24px">Sign In</label>
      <div class="flex-column input-validate">
        <input class="input-text full-width sfpro-font"
               type="email"
               placeholder="E-mail"
               formControlName="email" />
        <label class="hint"
               [style.visibility]="getControlInvisibility('email') ? 'visible' : 'hidden'">
          This address does not exist
        </label>
      </div>
      <div class="flex-column input-validate" style="margin-bottom: 45px !important">
        <input class="input-text full-width sfpro-font"
               type="text"
               placeholder="Password"
               formControlName="password" />
        <label class="hint"
               [style.visibility]="getControlInvisibility('password') ? 'visible' : 'hidden'">
          The password must contain capital letters
        </label>
      </div>
      <div class="flex sfpro-font" style="margin-bottom: 35px !important">
        <a [routerLink]="['/sign-in']">Forgot password?</a>
      </div>
      <input class="input-btn sfpro-font"
             type="submit"
             value="Sign In"
             style="margin-bottom: 35px !important" />
      <div class="flex sfpro-font">
        <a [routerLink]="['/sign-up']">Sign up</a>
      </div>
    </form>
    <has-account></has-account>
  </div>
</ng-template>
